.product-name{  
    height: 85px;
    font-size: medium;
}

.card-img-tops{
    margin: 0 auto;
    height: 300px;
}
.card-img-tops img{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btns{
    width: 100%;
}